<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Tentukan base path untuk folder public
    RewriteBase /mini-mvc/public/

    # Jika file atau folder yang diminta tidak ada...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # ...alihkan semua ke index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>